<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-6">Usuarios</h2>
</section>

<!-- Formulario ocupa todo el ancho disponible -->
<section class="px-4">
  <app-form (usuarioCreado)="onUsuarioCreado()" />
</section>

<div class="divider my-8"></div>

<section class="px-4">
  <smart-grid
    [data]="users()"
    [columns]="columns"
    [actions]="actions"
    [showFooter]="false"
    (sort)="onSort($event)">
  </smart-grid>
</section>

<!-- Modal de vinculación desde usuario -->
<app-vincular-desde-usuario-modal (vinculacionRealizada)="onVinculacionRealizada()" />

<!-- NUEVOS MODALES -->
<app-edit-modal-usuario (usuarioActualizado)="onUsuarioActualizado()" />
<app-cambiar-clave-modal (claveActualizada)="onClaveActualizada()" />
