
<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Usuarios</h2>
</section>

<section class="px-2 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2 h-100 place-items-center">

  <app-form />

  <div class="divider divider-horizontal"></div>

  <div class="card bg-base-300 rounded-box grid flex-grow">
    Aca ponemos el avatar del usuario
    <!-- <mini-map [lngLat]="houses()[0].lngLat" [mapZoom]="3"></mini-map>-->
  </div>

</section>

<div class="divider"></div>

<section>
  <app-grid />
</section>
