
<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Usuarios</h2>
</section>

<section class="px-2 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2 h-100 place-items-center">

  <app-form />

  <div class="divider divider-horizontal"></div>

  <div class="card bg-base-300 rounded-box grid flex-grow">
    Aca ponemos el avatar del usuario
  </div>

</section>

<div class="divider"></div>

<section>
  <smart-grid
    [data]="users()"
    [columns]="columns"
    [actions]="actions"
    [selectable]="true"
    [showFooter]="false"
    (sort)="onSort($event)"
    (selectionChange)="onSelectionChange($event)">
  </smart-grid>
</section>
