
<section class="container mb-0">
  <h2 class="text-3xl font-bold">Dashboard Estadisticas</h2>

  <div class="container mx-auto p-1">
    <div class="mb-1">
      <h2 class="text-base font-bold mb-1">Seleccione el grafico</h2>
    </div>
  </div>
</section>

<section class="px-2 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-2">
  <div class="card bg-base-100 w-96 shadow-xl p-1">
    <figure>
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/gastosxdep']"
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Shoes!
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">Fashion</div>
        <div class="badge badge-outline">Products</div>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 w-96 shadow-xl p-1">
    <figure>
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/gastosxdep']"
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Shoes!
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">Fashion</div>
        <div class="badge badge-outline">Products</div>
      </div>
    </div>
  </div>
</section>

