
<section class="container mb-0">
  <h2 class="text-3xl font-bold">Dashboard Estadisticas</h2>

  <div class="container mx-auto p-1">
    <div class="mb-1">
      <h2 class="text-base font-bold mb-1">Seleccione el grafico</h2>
    </div>
  </div>
</section>

<section class="px-2 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-2">

  <div class="card bg-base-100 w-85 shadow-xl p-1">
    <figure>
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/rendimientodep']"
        src='assets/images/graf06.png'
        alt="Rentabilidad Diaria por Departamento"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Rentabilidad Diaria por Departamento
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>Este grafico representado en barras muestra la rentabilidad diaria por departamento</p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>

  <div class="card bg-base-100 w-85 shadow-xl p-1">
    <figure>
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/rendimientoprop']"
        src='assets/images/graf07.png'
        alt="Rentabilidad Diaria por Propietario"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Rentabilidad Diaria por Propietario
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>Este grafico representado en barras muestra la rentabilidad diaria por Propietario</p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>

  <div class="card bg-base-100 w-85 shadow-xl p-1">
    <figure>
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/pagosxdep']"
        src='assets/images/graf01.png'
        alt="Ingresos"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Ingresos Diarios por Departamento
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
      <p>Este grafico muestra los Ingresos Diarios por Departamento</p>
      <div class="card-actions justify-end">
        <!-- <div class="badge badge-outline">New</div> -->
        <!-- <div class="badge badge-outline">Products</div> -->
      </div>
    </div>
  </div>

  <div class="card bg-base-100 w-85 shadow-xl p-1">
    <figure>
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/gastosxdep']"
        src='assets/images/graf03.png'
        alt="Gastos"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        Gastos Diarios por departamento
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
      <p>Este grafico muestra los Gastos Diarios por Departamento</p>
      <div class="card-actions justify-end">
        <!-- <div class="badge badge-outline">New</div> -->
        <!-- <div class="badge badge-outline">Products</div> -->
      </div>
    </div>
  </div>

</section>

