
<section class="container mb-0">
  <h2 class="text-3xl font-bold">Dashboard Estadisticas</h2>

  <div class="container mx-auto p-1">
    <div class="mb-1">
      <h2 class="text-base font-bold mb-1">Seleccione el grafico</h2>
    </div>
  </div>
</section>


<section class="px-2 grid grid-cols-2 sm:grid-cols-4 xl:grid-cols-6 gap-2">

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/rendimientodep']"
        src='assets/images/graf04.png'
        alt="Rentabilidad Diaria por Departamento"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Rentabilidad Diaria por Departamento
        <span class="badge badge-secondary badge-xs ml-1">NEW</span>
      </h3>
      <p class="text-xs">Este grafico representado en barras muestra la rentabilidad diaria por departamento</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/rendimientoprop']"
        src='assets/images/graf04.png'
        alt="Rentabilidad Diaria por Propietario"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Rentabilidad Diaria por Propietario
        <span class="badge badge-secondary badge-xs ml-1">NEW</span>
      </h3>
      <p class="text-xs">Este grafico representado en barras muestra la rentabilidad diaria por Propietario</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/pagosxdep']"
        src='assets/images/graf06.png'
        alt="Ingresos"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Ingresos Mensuales por Departamento
        <!-- <span class="badge badge-secondary badge-xs ml-1">NEW</span> -->
      </h3>
      <p class="text-xs">Este grafico muestra los Ingresos Mensuales por Departamento</p>
      <!-- <div class="card-actions justify-end">
        <div class="badge badge-outline">New</div>
        <div class="badge badge-outline">Products</div>
      </div> -->
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/gastosxdep']"
        src='assets/images/graf06.png'
        alt="Gastos"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Gastos Mensuales por departamento
        <!-- <span class="badge badge-secondary badge-xs ml-1">NEW</span> -->
      </h3>
      <p class="text-xs">Este grafico muestra los Gastos Mensuales por Departamento</p>
      <!-- <div class="card-actions justify-end">
        <div class="badge badge-outline">New</div>
        <div class="badge badge-outline">Products</div>
      </div> -->
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/ingrankingmesdep']"
        src='assets/images/graf02.png'
        alt="Ranking"
      />
    </figure>
    <div class="compact-card-body">
      <h2 class="text-sm font-bold mb-1">
        Top 5 Mayor Facturación
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
      <p class="text-xs">Este grafico muestra el ranking de los 5 departamentos con mayor facturación mensual</p>
      <div class="card-actions justify-end">
        <!-- <div class="badge badge-outline">New</div> -->
        <!-- <div class="badge badge-outline">Products</div> -->
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/recaudacionmensual']"
        src='assets/images/graf09.png'
        alt="Gastos"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Recaudación Mensual
        <span class="badge badge-secondary badge-xs ml-1">NEW</span>
      </h3>
      <p class="text-xs">Este grafico muestra los Honorarios por administración Mensual</p>
      <!-- <div class="card-actions justify-end">
        <div class="badge badge-outline">New</div>
        <div class="badge badge-outline">Products</div>
      </div> -->
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/rendimientomesdep']"
        src='assets/images/graf04.png'
        alt="Rentabilidad Mensual por Departamento"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Rentabilidad Mensual por Departamento
        <span class="badge badge-secondary badge-xs ml-1">NEW</span>
      </h3>
      <p class="text-xs">Este grafico representado en barras muestra la rentabilidad mensual por departamento</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/rendimientomesprop']"
        src='assets/images/graf04.png'
        alt="Rentabilidad Mensual por Propietario"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Rentabilidad Mensual por Propietario
        <span class="badge badge-secondary badge-xs ml-1">NEW</span>
      </h3>
      <p class="text-xs">Este grafico representado en barras muestra la rentabilidad mensual por Propietario</p>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure class="px-2 pt-2">
      <img
        class="cursor-pointer"
        [routerLink]="['/dashboard/disgregaGastos']"
        src='assets/images/graf01.png'
        alt="Disgregación de Gastos Mensual por Departamento"
      />
    </figure>
    <div class="compact-card-body">
      <h3 class="text-sm font-bold mb-1">
        Disgregación de Gastos Mensual por Departamento
        <span class="badge badge-secondary badge-xs ml-1">NEW</span>
      </h3>
      <p class="text-xs">En este grafico se separan los tipos de Gastos por Departamento de forma mensual</p>
    </div>
  </div>

</section>

