
<p class= "text-2xl">Configuraciones del Sistema</p>

<label class="label cursor-pointer gap-4 mt-6">
  <span class="label-text text-xl">Temas</span>
</label>

<div class="container mx-auto mt-6 grid grid-cols-6">

  <ul>


    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Cyberpunk</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="cyberpunk" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Night</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="night" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Luxury</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="luxury" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Lemonade</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="lemonade" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Forest</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="forest" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Fantasy</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="fantasy" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Acid</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="acid" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Night</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="night" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Bumblebee</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="bumblebee" />
      </label>
    </li>
    <li class="form-control">
      <label class="label cursor-pointer gap-4">
        <span class="label-text">Synthwave</span>
        <input type="radio" name="theme-radios" class="radio theme-controller" value="synthwave" />
      </label>
    </li>
  </ul>

</div>
