  <div>

    <div class="card bg-base-300 rounded-box grid flex-grow">

      <label class="input input-bordered flex items-center gap-2 m-1">
        Nombre
      <input type="text" class="grow" placeholder="Daisy" />
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        Dirección
      <input type="text" class="grow" placeholder="Calle Falsa 123" />
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        Propietario
      <input type="text" class="grow" placeholder="daisy@site.com" />
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        <input type="text" class="grow" placeholder="Search" />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        <input type="text" class="grow" placeholder="Search" />
        <span class="badge badge-info">Optional</span>
      </label>

    </div>

    <button class="btn btn-primary m-1">
      <i class="fa-solid fa-plus"></i>
      Crear nuevo departamento
    </button>

  </div>
