
<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Departarmentos</h2>
</section>

<section class="px-2 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2 h-100 place-items-center">

    <div>

      <div class="card bg-base-300 rounded-box grid flex-grow">

        <label class="input input-bordered flex items-center gap-2 m-1">
          Name
        <input type="text" class="grow" placeholder="Daisy" />
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        Email
        <input type="text" class="grow" placeholder="daisy@site.com" />
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        <input type="text" class="grow" placeholder="Search" />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
      <label class="input input-bordered flex items-center gap-2 m-1">
        <input type="text" class="grow" placeholder="Search" />
        <span class="badge badge-info">Optional</span>
      </label>
      
    </div>

    <button class="btn btn-primary m-1">
      <i class="fa-solid fa-plus"></i>
      Crear nuevo departamento
    </button>
  </div>

    <div class="divider divider-horizontal"></div>


    <div class="card bg-base-300 rounded-box grid flex-grow">
      Aca ponemos el mapa
      <app-mini-map [lngLat]="houses()[0].lngLat" [mapZoom]="3"></app-mini-map>
    </div>


</section>

<div class="divider"></div>

<section>
  <app-grid />
</section>
