
<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Dashboard</h2>
</section>

<section class="p-6 grid grid-cols-3 sm:grid-cols-4 xl:grid-cols-6">

  <div class="card bg-base-100 shadow-xl rounded-t-md overflow-hidden m-1">
      <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
      </figure>
      <div class="card-body">
        <span class="card-title">Grafico 1</span>
        <p class="text-sm">Descripción Grafico 1</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Ingresar</button>
        </div>
      </div>
  </div>

  <div class="card bg-base-100 shadow-xl rounded-t-md overflow-hidden m-1">
      <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
      </figure>
      <div class="card-body">
        <span class="card-title">Grafico 2</span>
        <p class="text-sm">Descripción Grafico 2</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Ingresar</button>
        </div>
      </div>
  </div>

  <div class="card bg-base-100 shadow-xl rounded-t-md overflow-hidden m-1">
      <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
      </figure>
      <div class="card-body">
        <span class="card-title">Grafico 3</span>
        <p class="text-sm">Descripción Grafico 3</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Ingresar</button>
        </div>
      </div>
  </div>

  <div class="card bg-base-100 shadow-xl rounded-t-md overflow-hidden m-1">
      <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
      </figure>
      <div class="card-body">
        <span class="card-title">Grafico 4</span>
        <p class="text-sm">Descripción Grafico 4</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Ingresar</button>
        </div>
      </div>
  </div>

  <div class="card bg-base-100 shadow-xl rounded-t-md overflow-hidden m-1">
      <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
      </figure>
      <div class="card-body">
        <span class="card-title">Grafico 5</span>
        <p class="text-sm">Descripción Grafico 5</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Ingresar</button>
        </div>
      </div>
  </div>

</section>
