@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternates/montserrat-medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Berkshire";
    src: url("/assets/fonts/berkshire_swash/berkshireswash-segular.ttf") format("truetype");
  }

}
